html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 10px;
    display: flex;
    align-items: flex-start;
}

.container {
    margin: 20px;
    padding: 10px;
    width: 350px;
    min-height: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
    display: block;
    text-transform: uppercase;
    border: 0;
    margin: 10px auto;
    background-color: #212121;
    color: #ffffff;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
}

.forms-wrap {
    display: flex;
    flex-wrap: wrap;
}

.submitGetAllUsersBtn {
    margin: 0 auto;
}

.user-list-wrapper {
    display: block;
}

.user-card {
    display: block;
    margin: 10px;
    padding: 10px 5px;
    height: 90px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user_getByid_container {
    margin: 20px;
    padding: 10px;
    width: 350px;
    height: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user_getByid_form div {
    display: flex;
    flex-wrap: wrap;
}

.New-user_create_container {
    margin: 20px;
    padding: 10px;
    width: 350px;
    height: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.New-user_create__form {
    display: block;
    margin: 0 auto;
}

.input {
    display: block;
    width: 200px;
    height: 30px;
    margin: 0 auto;
}