html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.page-header {
    margin: 0 auto;
    width: 100%;
    background: darkturquoise;
    position: relative;
}

.container {
    width: 1170px;
    height: 78px;
    margin: 0px auto;
    padding: 20px 30px 28px 30px;
}

.site-logo-link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
    color: #555252;
    float: left;
}

.site-logo-link::first-letter {
    color: #1abc9c;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
}

.page-nav-list {
    margin: 0px;
    padding: 6px 0px;
    width: 490px;
    float: right;
    list-style: none;
}

.page-nav-list li {
    margin: 0px;
    padding: 0px;
    float: left;
}

.page-nav-list li:not(:last-child) {
    margin-right: 34px;
}

.page-nav-list a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #0f0101;
}

.page-nav-list a:hover,
.page-nav-list a:focus {
    color: #1abc9c;
}


/* banner */

.banner {
    min-height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.522), rgba(0, 0, 0, 0.522)), url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}


/* page content */

.page-content {
    margin: 0 auto;
    padding: 0px 30px;
    width: 1170px;
}

.advertizing {
    display: block;
    margin: 0px auto 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.slider {
    display: block;
    width: 1110px;
    margin: 0px auto;
    padding: 0px 160px 0px 160px;
    text-transform: uppercase;
}

.slider-link {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 60px;
    line-height: 82px;
    font-family: serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: #ffffff;
}

.slider-menu-list {
    margin: 0;
    padding: 0;
}

.slider-menu-item {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    float: left;
}

.slider-menu-link {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 24px;
    line-height: 54px;
    text-decoration: none;
    color: #ffffff;
}

.slider-menu-link::after {
    content: "\002F";
}

.slider-ctrl {
    border: none;
    margin: 0px;
    padding: 0px;
    width: 104px;
    height: 104px;
    background-color: rgba(26, 188, 156, 0.59);
    position: absolute;
    top: 24px;
}

.slider-ctrl:active {
    background: rgb(26, 188, 156);
    border: none;
}

.slider-ctrl:focus {
    background: rgb(26, 188, 156);
}

.slider-ctrl-next {
    right: 0px;
}

.products {
    margin: 94px auto 0px;
}

.section-name {
    padding: 0px;
    margin: 0px auto 92px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #515151;
}

.section-name::after {
    background: #1abc9c;
    margin: 32px auto 0;
    width: 164px;
    height: 8px;
    line-height: 32px;
}

.product-cards {
    width: 100%;
    list-style: none;
    margin: 0px auto;
    padding: 0px;
    position: relative;
}


/* Product card */

.product-item {
    margin: 0px 30px 30px 0;
    padding: 0px;
    width: 255px;
    height: 322px;
    float: left;
}

.product-item:nth-child(4n) {
    margin-right: 0px;
}

.product-item:nth-child(n+5) {
    margin-bottom: 0px;
}

.product-link {
    display: block;
    margin: 0px auto;
    padding: 0px;
    text-decoration: none;
}

.product-img {
    display: block;
    background-color: #e9f0fd;
}

.product-name {
    display: block;
    margin: 0px;
    padding: 0px 0px 0px 12px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #323232;
}

.product-price {
    float: right;
    width: 54px;
    background-color: #8c8c8c;
    text-align: center;
}

.product-link:hover .product-name {
    background-color: #1abc9c;
}

.product-link:focus .product-name {
    background-color: #1abc9c;
}

.product-link:hover .product-price {
    background-color: #7fd9c7;
}

.product-link:focus .product-price {
    background-color: #7fd9c7;
}

.blue-shirt {
    margin: 0 auto;
    padding: 0;
    width: 255px;
    height: 282px;
    background-color: yellow;
}

.ovrl-menu-wrapper {
    margin: 0 auto;
    padding: 0;
    width: 166px;
    height: 106px;
    background-color: teal;
}

.overlay-icon {
    display: inline-block;
    color: #ffffff;
    background-color: #515151;
    border: 1px solid red;
    margin: 0;
    padding: 8px 0 0 8px;
    width: 50px;
    height: 50px;
}

.overlay-button {
    width: 166px;
    height: 50px;
}