html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url('./images/bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*
   Import partials below
*/

@import 'normalize';
body {
    background-color: rgb(97, 110, 110);
}

.bookmarks__container {
    display: block;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.bookmarks__form {
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
    width: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bookmark__input {
    display: inline-block;
    width: 400px;
    font-size: 24px;
    padding: 10px;
    max-height: 50px;
    border-radius: 8px;
}

.bookmark-add__button,
.bookmark-add__button:active,
.bookmark-remove__button,
.bookmark-remove__button:active {
    display: inline-block;
    text-transform: uppercase;
    outline: none;
    border: 0;
    margin-left: 10px;
    padding: 5px;
    height: 50px;
    width: 100px;
    background-color: #212121;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.bookmarks__list {
    display: inline-block;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
    font-size: 18px;
    border-radius: 8px;
    list-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bookmarks__item {
    display: flex;
    align-items: center;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    min-height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bokkmark__href {
    display: inline-block;
    overflow: hidden;
    width: 80%;
    margin: 10px auto;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(98, 173, 173);
}

.bookmark__image {
    margin-right: 10px;
}