html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.page-header {
    margin: 0 auto;
    width: 100%;
}

.container {
    width: 1170px;
    height: 78px;
    margin: 0px auto;
    padding: 20px 30px 28px 30px;
}

.site-logo-link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
    color: #555252;
    float: left;
}

.site-logo-link::first-letter {
    color: #1abc9c;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
}

.page-nav-list {
    margin: 0px;
    padding: 6px 0px;
    width: 490px;
    float: right;
    list-style: none;
}

.page-nav-list li {
    margin: 0px;
    padding: 0px;
    float: left;
}

.page-nav-list li:not(:last-child) {
    margin-right: 34px;
}

.page-nav-list a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #0f0101;
}

.page-nav-list a:hover,
.page-nav-list a:focus {
    color: #1abc9c;
}


/* banner */

.banner {
    width: 100%;
    min-height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.522), rgba(0, 0, 0, 0.522)), url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}


/* main page content */

.page-content {
    margin: 0 auto;
    padding: 0px 30px;
    width: 1170px;
}


/* advertizing slider over banner */

.advertizing {
    display: block;
    height: 600px;
    margin: 0px auto 94px 0px;
    padding: 0px;
    position: relative;
    top: 0px;
}

.slider {
    display: block;
    width: 1110px;
    margin: 0px auto;
    padding: 0px 160px 0px 160px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.slider-link {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 60px;
    line-height: 82px;
    font-family: serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: #ffffff;
}

.slider-menu-list {
    margin: 0;
    padding: 0;
}

.slider-menu-item {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    float: left;
}

.slider-menu-link {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 24px;
    line-height: 54px;
    text-decoration: none;
    color: #ffffff;
}

.slider-menu-link::after {
    content: "\002F";
}

.slider-ctrl {
    border: none;
    margin: 0px;
    padding: 0px;
    width: 104px;
    height: 104px;
    background-color: rgba(26, 188, 156, 0.59);
    position: absolute;
    top: 24px;
}

.slider-ctrl:active {
    background: rgb(26, 188, 156);
}

.slider-ctrl:focus {
    background: rgb(26, 188, 156);
}

.slider-ctrl-prev {
    left: 0px;
}

.slider-ctrl-next {
    right: 0px;
}


/* section products */

.products {
    margin: 0px auto 100px;
}

.section-name {
    padding: 0px;
    margin: 0px auto 92px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #515151;
}

.section-name::after {
    background: #1abc9c;
    margin: 32px auto 0;
    width: 164px;
    height: 8px;
    line-height: 32px;
}


/* product cards parent */

.product-cards {
    width: 100%;
    list-style: none;
    margin: 0px auto;
    padding: 0px;
}


/* Product card - child*/

.product-item {
    margin: 0px 30px 30px 0;
    padding: 0px;
    width: 255px;
    height: 322px;
    float: left;
    position: relative;
}

.product-item:nth-child(4n) {
    margin-right: 0px;
}

.product-item:nth-child(-n+5) {
    margin-bottom: 0px;
}

.product-link {
    display: block;
    margin: 0px auto;
    padding: 0px;
    text-decoration: none;
}

.product-img {
    display: block;
    background-color: #e9f0fd;
}

.product-name {
    display: block;
    margin: 0px;
    padding: 0px 0px 0px 12px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    line-height: 40px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: #323232;
}

.product-price {
    float: right;
    width: 54px;
    background-color: #8c8c8c;
    text-align: center;
}

.product-item:hover .product-name {
    background-color: #1abc9c;
}

.product-item:focus .product-name {
    background-color: #1abc9c;
}

.product-item:hover .product-price {
    background-color: #7fd9c7;
}

.product-item:focus .product-price {
    background-color: #7fd9c7;
}


/* overlay */

.product-item:hover .overlay {
    opacity: 1;
}

.overlay {
    margin: 0;
    padding: 0;
    width: 235px;
    height: 262px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.549);
    top: 0px;
    opacity: 0;
    top: 10px;
    left: 10px;
}

.ovrl-menu-wrapper {
    margin: 0 auto;
    padding: 0;
    width: 166px;
    height: 108px;
    position: absolute;
    font-size: 0px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.overlay-icon {
    display: inline-block;
    color: #ffffff;
    border: 1px solid #ffffff;
    margin: 0 auto;
    padding: 8px 0 0 8px;
    width: 50px;
    height: 50px;
}

.overlay-icon:hover {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}

.overlay-button {
    width: 166px;
    height: 50px;
    margin: 0;
    padding: 0 0 0 50px;
    border: 1px solid #ffffff;
    background-color: rgb(50, 50, 50);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
}

.overlay-button::before {
    display: inline-block;
    color: #ffffff;
    padding: 8px 8px 8px 8px;
    margin: 0;
    border: 0;
    width: 48px;
    height: 48px;
    content: url("../css/pe-icon-7-stroke/svg/cart.svg");
    position: absolute;
    top: 0px;
    left: 0;
}

.shuffle {
    margin: 0px 8px 8px 8px;
}


/* footer */

.page-footer {
    margin: 0 auto;
    padding: 40px 0 0 0;
    width: 100%;
    height: 88px;
    background-color: #323232;
}

.copyright {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.footer-copyright {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
}

.footer-copyright span {
    color: #46bfa9;
}