.subscribe-form {
    margin: 0;
    padding: 0;
    &__input-email {
        min-width: 228px;
        min-height: 41px;
        margin: 0 -5px 0 0;
        padding: 0 12px;
        font-family: $auxilary-font;
        font-size: 15px;
        line-height: 24px;
        font-weight: 200;
        font-style: italic;
        color: $primary-light-color;
        border: 1px solid $secondary-dark-color;
    }
    &__submit-button {
        @extend %button;
        margin: 0;
        padding: 0;
        min-width: 150px;
        min-height: 41px;
        background-color: $primary-border-color;
        border: none;
        font-family: $primary-font;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: $primary-light-color;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
    }
}