body {
    width: 1900px;
    height: 1200px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/aircraft.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}