	     .list {
	         display: block;
	         width: 100%;
	         margin: 0 auto;
	         padding: 0 0 30px 0;
	         &__item {
	             display: block;
	             margin: 0 auto;
	             max-width: 500px;
	             background-color: #231f20;
	             &:not(:last-child) {
	                 margin-bottom: 20px;
	             }
	             & img {
	                 display: block;
	                 margin: 0 auto;
	                 max-width: 100%;
	                 height: 100%;
	                 cursor: pointer;
	             }
	         }
	     }
	     
	     //===================<<MEDIA 1200>>=========================
	     @media(min-width: 1200px) {
	         .list {
	             max-width: 880px;
	             display: flex;
	             flex-wrap: wrap;
	             justify-content: flex-start;
	             &__item {
	                 margin-bottom: 0;
	                 width: 208px;
	                 height: 122px;
	                 margin-left: 0;
	                 margin-bottom: 0;
	                 &:not(:nth-child(4n)) {
	                     margin-right: 16px;
	                 }
	                 &:not(:nth-child(-n+4)) {
	                     margin-top: 20px;
	                 }
	                 &:not(:last-child) {
	                     margin-bottom: 0;
	                 }
	                 & img {
	                     max-width: auto;
	                     height: 100%
	                 }
	             }
	         }
	     }