html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* roboto-slab-regular - latin */

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
}


/* pt-serif-italic - latin */

@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    src: local('PT Serif Italic'), local('PTSerif-Italic'), url('../fonts/pt-serif-v9-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/pt-serif-v9-latin-italic.woff') format('woff'), /* Modern Browsers */
}


/* montserrat-regular - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
}


/* montserrat-italic - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin-italic.woff') format('woff'), /* Modern Browsers */
}


/* montserrat-600 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin-600.woff') format('woff'), /* Modern Browsers */
}


/* montserrat-700 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin-700.woff') format('woff'), /* Modern Browsers */
}


/* montserrat-600italic - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/montserrat-v12-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin-600italic.woff') format('woff'), /* Modern Browsers */
}


/* montserrat-700italic - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin-700italic.woff') format('woff'), /* Modern Browsers */
}

body {
    margin: 0;
    padding: 0;
}

.page-header {
    margin: 0 auto 120px;
    width: 100%;
    background-color: #ffffff;
}

.page-nav-container {
    max-width: 940px;
    min-height: 66px;
    padding: 0px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #ffffff;
}

.site-logo-link {
    margin: 0;
    padding: 0;
    display: block;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    font-style: italic;
    line-height: 36px;
    color: #fed136;
}

.page-nav-list {
    margin: 0px;
    padding: 0;
    min-width: 486px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.page-nav-item {
    margin: 0px;
    padding: 0px;
}

.page-nav-link {
    display: inline-block;
    margin: 0 auto;
    padding: 0px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #5d5d5d;
    border-bottom: solid 2px transparent;
}

.page-nav-link:hover,
.page-nav-link:focus {
    color: #fed136;
    transition-duration: 0.2s;
}


/* Page content */

.page-content {
    margin: 0px auto;
    padding: 0px;
}


/* Section-services */

.services-section {
    display: block;
    margin: 0px auto 100px;
    padding: 0;
    max-width: 940px;
}

.section-name {
    margin: 0px 0 76px;
    padding: 0;
    text-align: center;
}

.section-title {
    display: block;
    margin: 0px auto 18px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    font-style: normal;
    text-transform: uppercase;
    color: #222222;
}

.section-description {
    margin: 0px auto;
    padding: 0;
    font-family: 'PT Serif', cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    color: #a4a4a4;
}

.service-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    max-width: 290px;
}

.service-card:not(:nth-child(3n)) {
    margin-right: 34px;
}

.service-card:not(:nth-last-child(-n+3)) {
    margin-bottom: 102px;
}

.service-name {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #222222;
}

.service-summary {
    width: 100%;
    margin: 0;
    padding: 18px 0 18px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #777777;
}

.service-icon {
    display: block;
    content: "";
    margin: 0 auto 26px;
    padding: 0;
    min-height: 72px;
    min-width: 72px;
    background-repeat: no-repeat;
    background-position: center;
}

.e_commerce-icon {
    background-image: url("../img/Icon-Basket.png");
    border: 3px solid #fed854;
    border-radius: 50%;
}

.responsive_web-icon {
    background-image: url("../img/Icon-Laptop.png");
    border: 3px solid #fed854;
    border-radius: 50%;
}

.web_security-icon {
    background-image: url("../img/Icon-Locked.png");
    border: 3px solid #fed854;
    border-radius: 50%;
}


/* Contact_us_section */

.contact-section {
    margin: 0 auto;
    padding: 106px 0 0;
    background-color: #222222;
    width: 100%;
}

*/ .section-name {
    margin: 0 0 78px;
    padding: 0;
    width: 100%;
}

.contact-section .section-title {
    text-transform: uppercase;
    color: #ffffff;
}

.wrapper {
    display: block;
    margin: 0 auto;
    padding: 0 0 114px;
    max-width: 1400px;
    background-image: url('../img/Map Image.png');
    background-repeat: no-repeat;
    background-position: right;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    min-height: 308px;
}

.user-input-area {
    margin: 0 auto 30px;
    padding: 0;
    display: flex;
}

.user-details {
    margin: 0 30px 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 456px;
    height: 212px;
}

.user-details input {
    margin: 0;
    padding: 0 18px;
    width: 100%;
    height: 52px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: #bbbbbb;
    outline-color: transparent;
}

.name[type='text']:valid {
    outline-color: green;
}

.name[type='text']:invalid {
    outline-color: red;
}

.email[type='email']:valid {
    outline-color: green;
}

.email[type='email']:invalid {
    outline-color: red;
}

.message-text[type='text']:valid {
    outline-color: green;
}

.message-text[type='text']:invalid {
    outline-color: red;
}

.message {
    margin: 0;
    padding: 0;
    height: 212px;
    width: 456px;
}

.message-text {
    margin: 0;
    padding: 18px 20px;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    resize: none;
}

.submit {
    display: block;
    text-align: center;
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

.submit-button {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    border-width: 0;
    background-color: #fed136;
    border-radius: 5px;
    min-height: 64px;
    width: 240px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}