/* repeta */


/* .visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */


/* repeta end */

body {
    font-family: "Playfair Display";
}


/* * {
    outline: 1px solid red;
} */

.wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    width: 470px;
    padding: 30px 25px;
    vertical-align: middle;
}

.wrapper img {
    display: inline-block;
}

.wrapper h2 {
    display: inline-block;
    text-align: left;
    width: 420px;
    font-size: 30px;
}

p {
    display: block;
    margin-bottom: 0px;
    text-align: left;
    width: 420px;
}