html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.link {
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
}

.section {
    padding: 0;
    width: 100%;
}

.list {
    margin: 0px;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
}

.button {
    margin: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* TOP SECTION */

.top-section {
    margin: 0 auto 54px;
    min-height: 1000px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(255, 204, 108, 0.9))), url("../img/bannerbg@1x.jpg");
    background-image: -webkit-linear-gradient(rgba(243, 129, 129, 0.9), rgba(255, 204, 108, 0.9)), url("../img/bannerbg@1x.jpg");
    background-image: -o-linear-gradient(rgba(243, 129, 129, 0.9), rgba(255, 204, 108, 0.9)), url("../img/bannerbg@1x.jpg");
    background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(255, 204, 108, 0.9)), url("../img/bannerbg@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (-webkit-min-device-pixel-ratio:2),
(-o-min-device-pixel-ratio:2/1),
(min-resolution:192dpi),
(-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 2dppx) {
    .top-section {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(255, 204, 108, 0.9))), url("../img/bannerbg@2x.jpg");
        background-image: -webkit-linear-gradient(rgba(243, 129, 129, 0.9), rgba(255, 204, 108, 0.9)), url("../img/bannerbg@2x.jpg");
        background-image: -o-linear-gradient(rgba(243, 129, 129, 0.9), rgba(255, 204, 108, 0.9)), url("../img/bannerbg@2x.jpg");
        background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(255, 204, 108, 0.9)), url("../img/bannerbg@2x.jpg");
    }
}

.page-header {
    margin: 0 auto 190px;
    width: 100%;
}

.container__header {
    height: 64px;
}

.page-logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 66px;
    color: #ffffff;
}

.page-navigation {
    min-width: 620px;
}

.page-navigation__item {
    margin: 0px;
    padding: 0px;
}

.page-navigation__link {
    padding: 0px 0px 12px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    border-bottom: solid 2px transparent;
}

.page-navigation__item:last-child {
    width: 80px;
    padding: 0 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.page-navigation__item:last-child .page-navigation__link {
    padding: 0;
    border-bottom: none;
}

.page-navigation__link:hover,
.page-navigation__link:focus {
    color: #fce38a;
    border-bottom: solid 2px#fce38a;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.page-navigation__item-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    fill: rgb(255, 255, 255);
}

.page-navigation__link:hover .page-navigation__item-icon {
    fill: rgb(252, 227, 138);
}


/*TOP SECTION - BANNER */

.banner {
    margin: 0 auto;
    padding: 0;
    max-width: 820px;
    text-align: center;
}

.banner__text {
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 72px;
    line-height: 1.2;
    color: #ffffff;
}

.banner__title {
    margin: 0px auto 111px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 150px;
    line-height: 1.2;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
}

.banner-button {
    padding: 10px 30px;
    border: 2px solid #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
}

.banner-button-active:active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background: #e78782;
    border: none;
}


/* PAGE CONTENT */

.page-content {
    display: block;
}


/* SECTION - SERVICES */

.services-section {
    margin: 0px 0px 100px 0px;
}

.section-name {
    margin: 0px 0px 64px 0px;
    padding: 0;
    text-align: center;
}

.section-name__pre-title {
    margin: 0px auto;
    padding: 0;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 28px;
}

.section-name__title {
    display: block;
    margin: 0px auto;
    padding: 20px 0 40px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    font-style: normal;
    text-transform: uppercase;
}

.section-name__title--decor::after {
    margin: 0 auto;
    padding: 0;
    display: block;
    content: "";
    max-width: 60px;
    height: 3px;
    background-color: #f38181;
    position: relative;
    top: 40px;
}

.service-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    max-width: 392px;
    min-height: 170px;
}

.service-card:not(:nth-child(3n)) {
    margin-right: 12px;
}

.service-card:not(:nth-last-child(-n+3)) {
    margin-bottom: 100px;
}

.services-card__title {
    width: 100%;
    margin: 0 0 18px 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    text-transform: uppercase;
}

.services-card__summary {
    max-width: 300px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

.services-card__icon {
    display: block;
    content: "";
    margin: 0;
    padding: 0;
    min-height: 32px;
    min-width: 92px;
    background-repeat: no-repeat;
    background-position: center;
    fill: #95e1d3;
}

.services-card__icon--photography {
    background-image: url("../img/alarm.svg");
}

.services-card__icon--web-design {
    background-image: url("../img/graph.svg");
}

.services-card__icon--creativity {
    background-image: url("../img/computer.svg");
}

.services-card__icon--seo {
    background-image: url("../img/book2.svg");
}

.services-card__icon--csshtml {
    background-image: url("../img/home.svg");
}

.services-card__icon--digital {
    background-image: url("../img/image.svg");
}


/* SECTION - TEAM */

.team-section {
    padding: 0 0 82px 0;
}

.team-section__description {
    width: 100%;
    margin: 0 auto 94px;
    padding: 0 130px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    text-align: center;
}

.team-card {
    max-width: 380px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.team-card:not(:nth-child(3n)) {
    margin-right: 30px;
}

.team-card:not(:nth-last-child(-n+3)) {
    margin-bottom: 26px;
}

.team-card__photo-wrap {
    margin: 0 auto 30px;
    padding: 0;
    max-width: 380px;
    max-height: 470px;
    position: relative;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
    background-image: -webkit-linear-gradient(#f38181, #fce38a);
    background-image: -o-linear-gradient(#f38181, #fce38a);
    background-image: linear-gradient(#f38181, #fce38a);
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.team-card__photo-wrap:hover {
    -webkit-transform: translateX(-10px) translateY(-10px);
    -ms-transform: translateX(-10px) translateY(-10px);
    transform: translateX(-10px) translateY(-10px);
    -webkit-box-shadow: 10px 10px 0px 0px #95e1d3;
    box-shadow: 10px 10px 0px 0px #95e1d3;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.team-card__photo-wrap:hover .team-card__photo {
    opacity: 0.1;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.team-card__photo-wrap:hover .social-list {
    opacity: 1;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.team-card__photo {
    opacity: 1;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.team-card__name {
    margin: 0 auto 14px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    text-transform: uppercase;
}

.team-card__position {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

.social-list {
    background-color: #fce38a;
    width: 226px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%)translateY(-50%);
    -ms-transform: translateX(-50%)translateY(-50%);
    transform: translateX(-50%)translateY(-50%);
    opacity: 0;
}

.social__item {
    margin: 0;
    padding: 0;
    width: 56px;
    height: 56px;
}

.social__icon {
    width: 26px;
    height: 26px;
    fill: #f38181;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%)translateY(-50%);
    -ms-transform: translateX(-50%)translateY(-50%);
    transform: translateX(-50%)translateY(-50%);
}

.social__item:hover {
    background-color: #f38181;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.social__item:not(:last-child) {
    border-right: 1px solid #f9bd87;
}

.social__link {
    height: 56px;
    width: 56px;
    position: relative;
}

.social__item:hover .social__icon {
    fill: #ffffff;
}

.page-footer {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container__page-footer {
    padding: 10px 0 0 0;
    min-height: 66px;
    border-top: 1px solid #cccccc;
}

.subscribe-form {
    margin: 0;
    padding: 0;
}

.subscribe-form__email {
    min-width: 228px;
    min-height: 41px;
    margin: 0 -5px 0 0;
    padding: 0 12px;
    font-family: "Roboto", serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 200;
    font-style: italic;
    color: #cccccc;
    border: 1px solid #cccccc;
}

.subscribe-button {
    margin: 0;
    padding: 0;
    min-width: 150px;
    min-height: 41px;
    background-color: #95e1d3;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.copyright {
    margin: 0;
    padding: 0;
}

.copyright__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}

.copyright__text--decor {
    color: #f38181;
}