// BLOCK#15 "SECTION__DIFFERENCE"
.difference {
    background: #fff;
    position: relative;
    z-index: 1;
    &__title {
        @extend %title;
        max-width: 244px;
        @include sm(max-width, 504px);
        @include lg(max-width, 704px);
        padding-bottom: 56px;
        &::before {
            @extend %title--before-line;
        }
    }
    &__list {
        padding-bottom: 52px;
        border-bottom: 2px solid #242427;
        @include lg(padding-bottom, 78px);
        @include sm(border-bottom, none);
    }
    &__item {
        &:not(:last-child) {
            padding-bottom: 30px;
        }
        &:last-child {
            @include lg(max-width, 778px);
        }
        &-title {
            display: block;
            @include font-mixin("Ubuntu-mono_B", 20px, #242427);
            margin-bottom: 20px;
            @include sm(font-size, 24px);
            @include sm(margin-bottom, 28px);
            @include lg(margin-bottom, 40px);
            @include lg(font-size, 30px);
            &::after {
                content: "";
                display: block;
                margin-top: 10px;
                width: 80px;
                height: 2px;
                background: #00bcd4;
                @include lg(width, 116px);
            }
        }
        &-summary {
            @include font-mixin("OpenSans_SmB", 14px, $header-color);
            @include lg(font-size, 18px);
        }
        &-list {
            padding-top: 10px;
            & li {
                padding-left: 40px;
                position: relative;
            }
            & li:not(:last-child) {
                margin-bottom: 20px;
            }
            & li::before {
                content: "";
                display: inline-block;
                width: 18px;
                height: 18px;
                background: #242427;
                border-radius: 50%;
                position: absolute;
                left: 0px;
            }
        }
    }
    &__notice {
        display: block;
        box-sizing: border-box;
        margin: 0 auto;
        padding-top: 8px;
        background-size: contain;
        background-repeat: no-repeat;
        @include sm(width, 624px);
        @include sm(height, 216px);
        @include sm(padding-top, 40px);
        @include sm(padding-left, 20px);
        @include sm(padding-right, 20px);
        @include sm(padding-bottom, 24px);
        @include sm(background-image, url("../img/difference__notice\ 768.png"));
        @include lg(margin-right,
        42px);
        @include lg(width,
        852px);
        @include lg(height,
        248px);
        @include lg(padding-top,
        40px);
        @include lg(padding-left,
        54px);
        @include lg(padding-right,
        20px);
        @include lg(padding-bottom,
        24px);
        @include lg(background-image,
        url("../img/difference\ notice\ lg.png"));
        &-title {
            text-transform: uppercase;
            @include font-mixin("OpenSans_ExB",
            14px,
            $header-color);
            @include sm(font-size,
            16px);
            @include sm(margin-bottom,
            24px);
            @include lg(font-size,
            18px);
        }
        &-text {
            @include font-mixin("OpenSans_SmB",
            14px,
            $header-color);
            @include sm(line-height,
            1.8);
            @include lg(font-size,
            18px);
            @include lg(line-height,
            1.6);
            &--bold {
                @include font-mixin("OpenSans_ExB",
                14px,
                $header-color);
                @include lg(font-size,
                18px);
            }
        }
    }
}

.difference .container {
    padding-bottom: 56px;
    background-color: #fafafa;
    z-index: -1;
    &::before {
        display: none;
        @include lg(display,
        block);
        content: "";
        width: 96px;
        height: 564px;
        background-color: $main-blue;
        position: absolute;
        right: 50%;
        top: 60px;
        transform: translateX(628px);
        z-index: -10;
        box-shadow: 0px 48px 35px 0px rgba(0, 0, 0, 0.1);
    }
    &::after {
        display: none;
        @include lg(display,
        block);
        content: "";
        width: 475px;
        height: 948px;
        background-image: url("../img/difference_lg_image.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 80px;
        left: 158px;
        z-index: -1;
    }
}

.difference .row {
    padding-top: 56px;
    overflow: visible;
    flex-direction: column;
    @include sm(box-shadow,
    0px 22px 20px 0px rgba(0,
    0,
    0,
    0.12));
    background-color: #fafafa;
    @include sm(padding-bottom,
    56px);
    @include sm(padding-left,
    28px);
    @include sm(padding-right,
    28px);
    position: relative;
    &::before {
        display: none;
        @include sm(display,
        block);
        content: "";
        width: 571px;
        height: 562px;
        background-color: $main-blue;
        position: absolute;
        left: -36px;
        bottom: -40px;
        z-index: -10;
    }
    &::after {
        display: none;
        @include sm(display,
        block);
        content: "";
        width: 2px;
        height: 100%;
        background-color: #dadadb;
        opacity: 0.149;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}