@include reset();
.row {
    @include row-flex();
}

.item {
    @include col();
}

@mixin font-mixin($f-family, $f-size, $color) {
    font-family: $f-family;
    font-size: $f-size;
    color: $color;
}

.flex {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    @include reset();
}

.container {
    box-sizing: border-box;
    @include wrapper();
    position: relative;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    @include lg(max-width, 1147px);
    @include lg(margin, 0 auto);
}