    /*
   Import partials below
*/
    
    @import "../scss/fonts.scss";
    @import "../precss/_smartgrid.scss";
    @import "../scss/common.scss";
    @import"../scss/colors.scss";
    body {
        margin: 0;
        padding: 0;
        @include reset();
    }
    
    %title {
        @include font-mixin('Museo_900', 25px, blue);
        @include size(12);
        @include size-sm(9);
        text-align: center;
        display: block;
        margin: 0 auto;
        text-transform: uppercase;
    }
    
    %title--before {
        content: "";
        display: inline-block;
        border-bottom: 4px solid $main-blue;
        width: 16px;
        position: relative;
        bottom: -4px;
    }
    
    %title--underline {
        content: "";
        display: block;
        border-bottom: 2px solid #fff;
        width: 150px;
        margin: 0 auto;
        padding-top: 12px;
    }
    
    %button {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        cursor: pointer;
        text-align: center;
    }
    
    %link {
        display: block;
        margin: 0;
        padding: 0;
        text-decoration: none;
        cursor: pointer;
    }
    
    %payment-icon {
        display: inline-block;
        height: 46px;
        width: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    .wrapper {
        @include wrapper();
    }
    
    @import '../precss/_smartgrid.scss';
    @import "colors"; //  Section-Text_Reviews (block #13)
    .text-reviews {
        background-image: url("../img/text_reviws320bg.png");
        background-size: cover;
        background-repeat: repeat;
        margin: 0 auto;
        padding-top: 56px;
        padding-bottom: 120px; // &__title {}
        // &__list {}
        &__slogan {
            padding: 30px 0 36px;
            text-transform: uppercase;
            &-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                @include lg(justify-content,
                space-between);
                @include lg(flex-flow,
                row-reverse);
            }
        }
        &__title {
            @extend %title;
            &::before {
                @extend %title--before;
            }
        }
    }
    
    .text-reviews__item {
        box-sizing: border-box;
        background: #fff;
        background-position-y: 30px;
        padding: 48px 15px 16px;
        margin-top: 72px;
        text-align: center;
        position: relative;
        @include sm(padding-left,
        206px);
        @include sm(padding-top,
        30px);
        @include sm(height,
        186px);
        &-image {
            display: block;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            top: -48px;
            transform: translateX(-50%);
            @include sm(left,
            0px);
            @include sm(top,
            0px);
            @include sm(transform,
            translateX(0));
            @include sm(width,
            192px);
            @include sm(height,
            186px);
        }
        &-header {
            @include sm(display,
            flex);
            // @include sm(flex-wrap,
            // no-wrap);
            @include sm(justify-content,
            space-between);
            @include sm(align-items,
            center);
        }
        &-name {
            display: inline-block;
            text-align: center;
            margin-bottom: 8px;
            padding: 0 10px;
            background-color: black;
            @include font-mixin("Ubuntu-mono_R",
            30px,
            #00bcd4);
            line-height: 36px;
            @include sm(flex-grow,
            none);
        }
        &-proffesion {
            color: yellow;
            margin-bottom: 14px;
            @include sm(margin-bottom,
            0px);
            @include sm(font-size,
            12px);
            &_cutted {
                display: none;
                @include lg(display,
                inline-block);
            }
        }
        &-review {
            display: block;
            padding-bottom: 48px;
            @include font-mixin('OpenSans_ExB',
            14px,
            green);
            @include sm(padding-bottom,
            0px)
        }
    }
    
    .text-reviews__item .text-reviews__item-review {
        text-align: left;
    }
    
    .read_more-button {
        @extend %button;
        margin-bottom: 16px;
        padding: 0;
        border: none;
        cursor: pointer;
        background-color: transparent;
        border-bottom: 1px solid #000;
        display: block;
        text-align: right;
        position: absolute;
        bottom: 0px;
        right: 15px;
    }
    
    .start_study-button {
        @extend %button;
        width: 290px;
        padding: 20px 0;
        text-transform: uppercase;
        color: white;
        font-size: 14px;
        border-radius: 5px;
        background-image: linear-gradient ( 0deg, rgb(255, 198, 23) 0%, rgb(251, 7, 64) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(255, 198, 23) 0%, rgb(251, 7, 64) 100%);
        box-shadow: 0px 12px 20px 0px rgba(28, 28, 30, 0.21);
        @include lg(flex-direction,
        row-reverse);
    }
    
    .prices {
        background-image: url("../img/prices320bg.png");
        background-size: cover;
        background-repeat: repeat;
        margin: 0 auto;
        padding: 60px 0;
        color: white;
        &__title {
            @extend %title;
            &::before {
                @extend %title--before;
            }
            color: white;
            padding-bottom: 16px;
            &::after {
                @extend %title--underline;
            }
        }
        &__pretitle {
            text-transform: uppercase;
            @include font-mixin("Museo_900",
            14px,
            red);
            text-align: center;
            margin-bottom: 52px;
        }
        &__warranty {
            @include font-mixin("OpenSans_ExB",
            14px,
            #fff);
            margin-bottom: 31px;
        }
        &--accent-size {
            text-transform: uppercase;
            font-weight: bold;
        }
        &--accent-color {
            color: #00bcd4;
        }
        &__schedule {
            display: block;
            padding-top: 26px;
            padding-bottom: 26px;
            background-color: #3c3c3c;
            box-shadow: 0px 20px 36px 0px rgba(0, 0, 0, 0.3);
            text-align: center;
            margin-bottom: 20px;
        }
        &__payment-title {
            @include size(8);
            display: block;
            margin: 0 auto;
            padding-top: 34px;
            padding-bottom: 16px;
            @include font-mixin("OpenSans_ExB",
            16px,
            #fff);
            text-transform: uppercase;
            text-align: center;
        }
        &__payment-list {
            box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
            @include sm(display,
            flex);
        }
        &__payment-item {
            padding-top: 20px;
            padding-bottom: 26px;
            text-align: center;
            background: #2a292c;
            border-bottom: 1px solid #403f42;
            @include sm(display,
            flex);
            @include sm( padding-left,
            55px);
            @include sm(border-border,
            none);
            @include sm(flex-grow,
            1);
            &:not(:last-child) {
                @include sm(border-right,
                1px solid #403f42);
            }
        }
        &__payment-link {
            @extend %link;
            @include font-mixin("Ubuntu-mono_R",
            16px,
            #fff);
            padding-top: 18px;
            text-align: center;
            @include sm(margin-left,
            28px);
            &--cash {
                @extend %payment-icon;
                background-image: url("../img/wallet.png");
            }
            &--card {
                background-image: url("../img/credit-card.png");
                @extend %payment-icon;
            }
            &--transfer {
                background-image: url("../img/rich.png");
                @extend %payment-icon;
                position: relative;
                &::before {
                    display: inline-block;
                    content: "";
                    height: 32px;
                    width: 32px;
                    background-image: url("../img/stopwatch.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 8px;
                    left: -16px;
                }
            }
        }
    }
    
    .bundle-list {
        display: block;
        @include sm(display,
        flex);
        @include sm( margin,
        0 -15px)
    }
    
    .bundle {
        @include size(12);
        @include size-sm(6);
        display: block;
        margin: 0 auto;
        padding-bottom: 40px;
        text-align: center;
        background-color: #313133;
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
        &:not(:last-child) {
            margin-bottom: 20px;
            @include sm(margin-bottom,
            0px);
        }
        &__name {
            padding-top: 24px;
            padding-bottom: 20px;
            text-align: center;
            text-transform: uppercase;
            background-color: #3c3c3c;
            border-bottom: 1px solid #464648;
        }
        &__skills-list {
            padding-top: 42px;
        }
        &__skills-item {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
        &__text-box {
            display: inline-block;
            margin-top: 26px;
            margin-bottom: 30px;
            padding: 14px 54px;
            background-image: url("../img/bundle_text-box.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        &__career-list {
            text-align: left;
            padding-right: 12px;
            padding-left: 12px;
        }
        &__career-item {
            padding: 28px 0 26px 16px;
            @include font-mixin('Ubuntu-mono_R',
            14px,
            #c0c0c0);
            background-color: #2b2b2d;
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.14);
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        &__price {
            padding-top: 30px;
            padding-bottom: 24px;
            @include font-mixin("Museo_900",
            36px,
            #ffc600);
            &--offline {
                color: #5cc497;
            }
        }
    }
    
    .bundle-button {
        @extend %button;
        @include font-mixin("Museo_900",
        16px,
        #fff);
        padding-top: 18px;
        padding-bottom: 20px;
        width: 240px;
        text-transform: uppercase;
        background-image: linear-gradient ( 0deg, rgb(255, 198, 23) 0%, rgb(251, 7, 64) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(255, 198, 23) 0%, rgb(251, 7, 64) 100%);
        box-shadow: 0px 12px 20px 0px rgba(28, 28, 30, 0.21);
        border-radius: 5px;
    } // differences
    .difference {
        padding-top: 56px;
        padding-bottom: 56px;
        background: #fff;
        &__title {
            @extend %title;
            padding-bottom: 56px;
            &::before {
                @extend %title--before;
            }
        }
        &__list {
            padding-top: 10px;
            padding-bottom: 52px;
            border-bottom: 2px solid #242427;
            & {
                @include sm(border-bottom,
                none);
            }
        }
        &__item {
            &:not(:last-child) {
                padding-bottom: 30px;
            }
            // TODO h3 ubunto bold
            &-title {
                display: block;
                @include font-mixin("Ubuntu-mono_R",
                20px,
                #242427);
                margin-bottom: 20px;
                &::after {
                    content: "";
                    display: block;
                    margin-top: 10px;
                    width: 80px;
                    height: 2px;
                    background: #00bcd4;
                }
            }
            &-summary {
                // semibold
                @include size-sm(11);
                @include font-mixin("OpenSans_ExB",
                14px,
                #242427)
            }
            &-list {
                padding-top: 10px;
                & li {
                    padding-left: 40px;
                    position: relative;
                }
                & li:not(:last-child) {
                    margin-bottom: 20px;
                }
                & li::before {
                    content: "";
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    background: #242427;
                    border-radius: 50%;
                    position: absolute;
                    left: 0px;
                }
            }
        }
        &__notice {
            display: block;
            margin: 0 auto;
            padding-top: 8px;
            background-size: contain;
            background-repeat: no-repeat;
            @include sm(width,
            624px);
            @include sm(height,
            216px);
            @include sm(padding-top,
            40px);
            @include sm(padding-left,
            40px);
            @include sm(padding-right,
            40px);
            @include sm(padding-bottom,
            24px);
            @include sm(background-image,
            url("../img/difference__notice\ 768.png"));
            @include lg(margin-right,
            66px);
            @include lg(width,
            852px);
            @include lg(height,
            248px);
            @include lg(padding-top,
            40px);
            @include lg(padding-left,
            62px);
            @include lg(padding-right,
            62px);
            @include lg(padding-bottom,
            24px);
            @include lg(background-image,
            url("../img/difference\ notice\ lg.png"));
            &-title {
                text-transform: uppercase;
                @include font-mixin("OpenSans_ExB",
                14px,
                #242427);
            }
        }
    }