            /*
   Import partials below
*/
            
            html {
                box-sizing: border-box;
            }
            
            *,
            *::before,
            *::after {
                box-sizing: inherit;
            }
            
            .hidden:not(:focus):not(:active),
            input[type="checkbox"].visually-hidden,
            input[type="radio"].visually-hidden {
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                border: 0;
                padding: 0;
                white-space: nowrap;
                clip-path: inset(100%);
                clip: rect(0 0 0 0);
                overflow: hidden;
            }
            
            @import "fonts.scss";
            @import "../precss/_smartgrid.scss";
            @import "common.scss";
            @import"colors.scss";
            @import"placeholders.scss";
            // BLOCK#13 "SECTION__TEXT-REVIEWS"
            @import"_text-reviews.scss";
            // BLOCK#14 "SECTION__PRICES"
            @import"_prices.scss";
            // BLOCK#15 "SECTION__DIFFERENCE"
            @import"_difference.scss";