$primary-dark-bg:rgba(243, 129, 129, 0.9);
$primary-light-bg: rgba(#fce38a, 0.9);
$primary-accent-color:#fce38a;
$secondary-accent-color:#f38181;
$primary-light-color:rgb(255, 255, 255);
$primary-dark-color: #333333;
$secondary-dark-color: #999999;
$primary-border-color: #95e1d3;